/Gogolook.xcodeproj/xcuserdata/xidi.xcuserdatad/xcschemes/xcschememanagement.plist
/Gogolook.xcworkspace/xcuserdata/xidi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Gogolook.xcworkspace/xcuserdata/xidi.xcuserdatad/xcdebugger/Expressions.xcexplist
xcschememanagement.plist
